<%- include('header'); -%>

<div class="about">
<h1>This is To-Do list healps you for you to track your regular work and your fun suff</h1>
<p>- Nayan Arora</p>
</div>

<style>
    footer{
        position: absolute;
        bottom: 0;
        left: 45%;
        font-family: cursive;
    }
</style>

<%- include('footer'); -%>